# API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Blockchain
NEXT_PUBLIC_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_DSHIT_TOKEN_ADDRESS=

# Wallet
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Analytics
NEXT_PUBLIC_ANALYTICS_ID=
